

.trollColor {
	background-color: #ff0000;
}

.subtrollColor {
	background-color: #ff5555;
}

.frankColor {
	background-color: #ff7777;
}

/* .propagandaColor { */
	/* background-color: #800080; */
/* } */

.deplorableColor {
	background-color: #ff4500;
}

.header {
	font-size: 		larger;
	font-weight: 	bold;
	color: 			red;
}

.header2 {
	font-size: 		xx-small;
	color:			black;
}

.header3 {
	margin-top: 	0px;
}

div.margintop {
	padding-top: 	5px;
}

/* input { */
	/* margin:			5px 10px 5px 10px; */
	/* padding-left:	5px; */
	/* padding-right:	5px; */
/* } */

/* input.unfocus { */
	/* color: 			#888888; */
/* } */

/* input.focus { */
	/* color: 			#000000; */
/* } */

.bold {
	font-weight: 	bold;
}

.underline {
	border-width: 	0px 0px 1px 0px;
	border-style: 	solid;
	border-color:	#888888;
	margin-bottom:	3px;
}

.center {
	text-align: 	center;
}

.indent {
	padding-left:	10px;
}

img.deleteIcon {
	height: 		10px;
	width: 			10px;
	position: 		relative;
	top: 			1px;
	padding-right: 	3px;
}

.fontXSmall {
	font-size:		x-small;
}

.fontXXSmall {
	font-size:		xx-small;
}

.leftCol {
	flex: 			40%;
}

.rightCol {
	flex: 			60%;
}

.row {
	display: 		flex;
	margin-bottom:	3px;
}

.rptTag {
	color: 			#ffffff;
	padding: 		1px 5px 1px 5px;
	margin: 		0px 3px 0px 0px;
	font-size:		xx-small;
	border-style:	solid;
	border-width:	1px;
	border-color:	#c7c7c7;
	border-radius:	4px;
	white-space: 	nowrap;
}

.rptDomain {
	position:		relative;
	top:			-3px;
}

.rptTagInfo {
	width:				350px;
	position:			absolute;
	background-color: 	#ffffff;
	border-style:		solid;
	border-color: 		#c7c7c7;
	border-width:		1px;
	border-radius:		4px;
	padding:			10px;
	font-size:			x-small;
}

.rptTagInfoHeader {
	font-size:			110%;
	white-space:		nowrap;
	margin-bottom: 		5px;
	white-space: 		nowrap;
	font-size: 			110%;
}

.rptTagInfoDesc {
	padding-top:		5px;
	font-size: 			90%;
	border-style:		solid;
	border-width: 		1px 0px 0px 0px;
}

.rptTagInfoBody {
	margin-top: 		7px;
}

.rptTagInfoTable {
	width:				100%;
	margin:				0px;
}

.textRight {
	text-align:			right;
	padding-right:		10px;
}

.textCenter {
	text-align:			center;
}

.ceddit {
	width:				14px;
	height:				14px;
	position: 			relative;
	top:				4px;
}

.removeddit {
	width:				14px;
	height:				14px;
	position: 			relative;
	top:				4px;
}

.rptBorder {
	border-style: 	solid;
	border-color: 	#000000;
	border-width:	1px;
}
